h1 {
    color: white;
    font-size: x-large;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0
}

h2 {
    color: White;
    font-size: x-large;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0
}

h3 {
    color: White;
    font-size: x-large;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0
}

body {
    text-align: left;
    font-size: large;
}

button {
    background-color: red;
    color: white
    
}

.mtv-btn {
    background-color: green;
    color: black
}

.fnd-mvmnt {
    background-color: green;
    color: black
}

.lvl-u {
    background-color: green;
    color: black
}

.exrc-codit {
    background-color: green;
    color: black
}

.rs-rcvr {
    background-color: green;
    color: black;
}

.exrc-wt-us {
    background-color: green;
    color: black
}

div {
    background-color: beige;
    font-size: x-large;
    text-align: center;
    margin: 0;
    padding: 0
}